name: Build and Deploy Landing App
on:
  push:


jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login Docker
        uses: docker/login-action@v3
        with:
          registry: registry.malefstorm.ru
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_USERPASSWORD }}